<h1>Rainforest</h1>

<% @products.each do |product| %>
  <p>product name: <%= product.name %></p>
  <p>product description: <%= product.description %></p>
  <p>product price: $<%= product.formatted_price %></p>
  <br/>
  <br/>
<% end %>
